*{
	
	padding: 0px;
	margin: 0px;
	font-family: Century Gothic;
}
html{
		background-color: #BABABA;
		
}
body{
	background-color: #white;
	
}

.header{
	background-color: #3A3A3B;
	position: relative;
	padding: 1em;
	margin: auto;
	display: flex;
	justify-content: flex-end;
}

.my_photo{
	background: #000000;
	opacity: 0.5;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	position: relative;
}

.header_box{
	background: #FFFFFF;
	opacity: 0.5;
	margin: 8px;
	padding: 10px;
	border-radius: 25px;
	box-shadow: 5px 5px 5px 1px;
	text-align: center;
}

.bar-side_box {
	margin: 20px 2px 20px 1px;
	padding: 10px;
	vertical-align: middle;
	background: #FFFFFF;
	opacity: 0.5;
	border-radius: 25px;
	box-shadow: 5px 5px 5px 1px;
	text-align: center;
}

.bar-side{
	background-color: #3A3A3B;
	position: absolute;
	top: 13%;
	width: 10%;
	height:100%;  
	padding: 5px;
}

section.home{
	position: relative;
	margin: 10% 40% 0 27%;
}

.home{
	background: #FFFFFF;
	color: #262626;
	opacity: 0.5;
	height: 50%;
	width: 50%;
	min-width: 250px;
	position: absolute;
	padding: 2em;
	margin: inherit;
	display: flex;
	flex-wrap: wrap;
	border-radius: 25px;
	box-shadow: 20px 20px 20px 1px;
	text-align: center;
}

.child{
	flex:1;
	min-width: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



/*   R E S P O N S I V E */
.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

